* {
    box-sizing: border-boxk;
}
@font-face {
    font-family: coffee;
    src: url(fonts/CoffeCake.ttf);
}
body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}
header .user {
    width: 200px;
    height: 200px;
    background-color: aqua;
    border-radius: 50%;
    margin: 20px auto;
    border: 20px solid black;
}
header i {
    color: rgb(245, 80, 108);
    font-size: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header a {
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: rgb(253, 25, 131);
    display: block;
    margin: 0 auto;
    width: 100px;
}
main {
    height: 530px;
}
fieldset {
    border: none;
    border-top: 2px solid black;
    width: 70%;
    margin: 20px auto;
    text-align: center;
}
legend {
    color: rgb(253, 25, 131);
    text-shadow: 5px 5px 5px rgb(8, 1, 1);
    font-size: 30px;
    font-weight: 700;
}
input {
    background-color: rgb(248, 227, 227);
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    border: none;
    box-shadow: 5px 5px 5px rgb(8, 1, 1);
}
#firstname, #lastname,
#country, #city {
    width: 40%;
}
#firstname, #lastname {
    margin-top: 30px;
}
#email, #username, #password {
    width: 85%;
}
#signup {
    width: 150px;
    background-color: rgb(19, 197, 197);
    color: rgb(201, 18, 48);
    font-size: 20px;
    font-weight: 600;
    border: none;
}

@media only screen and (max-width: 414px) {
    header .user {
        width: 100px;
        height: 100px;
    }

    header i {
        font-size: 50px;
    }

    fieldset {
        border: 2px solid black;
        width: 80%;
        border-radius: 15px;
        background-color: rgb(170, 235, 235);
    }

    legend {
        font-size: 20px;
    }

    input {
        background-color: aqua;
        border-radius: 20px;
        width: 100%;
    }

    #firstname, #lastname,
    #country, #city,
    #email, #username,
    #password {
        width: 85%;
    }
    
    #lastname {
        margin-top: 5px;
    }

    #signup {
        margin-bottom: 20px;
    }
    
    input[type='checkbox'] {
        width: 15px;
    }
}